.header{
    background-image: linear-gradient( to right bottom,#F806CC,#A91079,#570A57);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo{
        height: 50%;
        transition: all 0.2s;
        margin-left: 2.5rem;

        &:hover{
            transform: translateY(-2px) scale(1.1);
        }
    }

    &-nav{
        
        display: flex;
        margin-right: 2rem;

        &-a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgb(5, 31, 34);
            font-size: 2.5rem;
            margin-left: 1rem;
            margin-right: 1rem;
            transition: all 0.3s;
            &:hover{
                color: #E0D8B0;
                transform: translateY(-2px) scale(1.1);
            }

            &-img{
                color: currentColor;
                width: 2.5rem;
                height: 2.5rem;
            }
        }

    }
}